{% set props = {
	heading: props.heading | default,
	items: props.items | default([]),
	btn: props.btn | default,
	classes: props.classes | default([])
} %}

{% set classes = [
	'c-customers',
] | merge(props.classes) | filter(i => i) | join(' ') %}

<section class="{{ classes }}">
	{% include '@components/core/objects/heading.twig' with {
		props: props.heading
	} %}
	<ul class="c-customers__list grid">
		{% for item in props.items %}
			{% set item = {
				img: item.img | default,
				name: item.name | default,
				width: item.width | default,
				height: item.height | default,
			} %}
			<li class="c-customers__item grid__cell size--6-12 size--3-12@md">
				<p class="c-customers__img">
					<img src="{{ assets.images }}illust/logos/{{ item.img }}" alt="{{ item.name }}" width="{{ item.width }}" height="{{ item.height }}">
				</p>
			</li>
		{% endfor %}
	</ul>

	{% if props.btn %}
		<p class="u-mt-6 u-mb-0 u-text-center">
			<a href="{{ props.btnLink|default('#') }}" class="btn">
				<span class="btn__text">
					{{ props.btn }}
				</span>
			</a>
		</p>
	{% endif %}
</section>
